<span class="form_inputs dektopviews borLeft nav-on-scroll" style="color: #fff;">Menu
    <div class="outer-menu">
            <input class="checkbox-toggle" id="hamburgerMenu" type="checkbox" />
            <div class="hamburger">
                <div></div>
            </div>
              <div class="menu">
                <div>
                    <div class="pt-3 pb-3 text-center"><img style="width: 80px !important;" src="../img/smallLogo.png" /></div>
                    <div class="head_menu">
                        <p class="pl-4 mt-0 mb-0 join-community brdr-btm desktopViews"><a href="#" data-toggle="modal" data-target="#elegantModalForm">Join Community</a></p>
                        <p class="pl-4 mt-0 mb-0 join-community brdr-btm mobileViews"><a href="#" data-toggle="modal" data-target="#elegantModalForm">Login</a></p>
                        <p class="pl-4 mt-0 mb-0 join-community brdr-btm" style="display: none;"><a href="app/8.html">Get membership</a></p>
                        
                        <div class="pl-4 mt-0 mb-0 join-community brdr-btm" id="#myAccounts">
                            <a href="#f26" role="button" data-toggle="collapse" data-target="#f26" aria-expanded="false" id="grp26" aria-controls="f26">My Account 
                            <i class="fa fa-plus rotate2" aria-hidden="true"></i></a>
                            
                            <div id="f26" class="collapse pt-3" aria-labelledby="faq26" data-parent="#myAccounts">
                                <ul id="f27">
                                    <li><a href="app/8.html">Membership</a></li>
                                    <li><a href="app/8.html">Rewards</a></li>
                                    <li><a href="app/19.html">Profile</a></li>
                                </ul>
                            </div>
                            
                        </div>
                        
                        
                        <div class="brdr-btm">
                            <ul class="menu-ul">
                                <li><a href="http://cleanlabel.net/home/26/html/">Zero waste delivery system</a></li>
                                <li><a href="http://cleanlabel.net/home/26/html/">Earn Products</a></li>
                                <li><a href="http://cleanlabel.net/home/26/html/">Membership & fee</a></li>
                            </ul>
                        </div>
                        <div class="becomeMember brdr-btm pl-4">
                            <a href="app/8.html">Become a Member</a>
                        </div>
                        <div class="brdr-btm footer-content">
                            <ul class="menu-ul">
                              <li><a href="about.html">About</a></li>
                              <li><a href="faq.html">FAQs</a></li>
                              <li><a href="contact.html">Contacts us</a></li>
                            </ul>
                        </div>
                        <div class="becomeMember brdr-btm pl-4">
                            <a href="https://www.instagram.com/cleanlabellife/" target="_blank"><img alt="Instagram" src="../img/instagram.png" style="width:30px !important;"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</span>