<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home | Cleanlabel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css"> -->
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('components/navbar.ejs'); -%>
    <br><br><br><br>

    <button id="join-membership">Join Membership</button>

    <div id="pay-now-modal" class="modal">
      <div class="modal-content">
        <div class="close-paynow">&times;</div>
        <div class="modal-body">
          <div class="payment-container">
            <h2>Information about Membership</h2><br /><br />
            <button id="pay-now">Pay now</button>
          </div>
        </div>
      </div>
    </div>
  
  <%- include('components/firebaseScripts.ejs'); -%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="login.js"></script>
  <script src="index.js"></script>
</body>
</html>