<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Membership | Cleanlabel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css"> -->
    <script src="membership.js"></script>
</head>
<body>
    <%- include('components/navbar.ejs'); -%>
    <h1>Membership page</h1>
    <button id="get-yearly-membership">Yearly Membership | Rs. 999</button>
    <button id="get-halfyearly-membership">Half Yearly Membership | Rs. 350</button>
</body>
</html>